

article{
	position: relative;
	padding: 15px;
}

#entireTimeLine{
	text-align: center;

	padding: 0;
}

#timeLineContainer{
	overflow-x: scroll;
	position: relative;
	left: 0;
	width: 100%;

}

#timeLine{
	position: relative;
	height: 450px;
	height: 550px;

	left: 0;


	right: 0;
	background: white;
	border: 3px solid black;

	background: transparent;

	border: none;
}


#timeLineExtras{
	position: absolute;
	left: 0px;
	top: 0px;
	height: 225px;
	width: 100%;


}

#timeLineFilter{
	position: absolute;
	top: 60px;
	right: 50%;
	left: 15%;
	bottom: 0;

	text-align: left;
	padding: 10px;
	z-index: 1;
}

input[type=radio]{
	background: red;
	border: 3px;
}

input[type=radio]:hover{
	cursor: pointer;
}

input[type=radio] span:checked{
	color: red;
	background: orange;
}

#timeLineExtras h2{
	margin-top: 20px;

	font-size: 30px;
}








.dateLine{
	position: absolute;
	top: 70%;
	top: 60%;

	left: 50%;



	height: 20px;
	background: black;
	border-radius: 10px;
	line-height: 10px;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	z-index: 1;
}



.dateMarker{
	position: relative;

	background: white;

	display: inline-block;

	vertical-align: middle;

}

.dateMarker.big{

	height: 20px;
	width: 2px;
}

.dateMarker.big:first-child{

	margin-left: 15px !important;

	height: 20px;
	width: 2px;
}

.dateMarker.big:last-child{
	/*
        margin-right: 15px !important;
    */
	height: 20px;
	width: 2px;
}

.dateMarker.small{

	height: 10px;
	width: 1px;
}

.year{
	position: absolute;
	top: 80px;

	top: 30px;
	top: 90px;
	top: 130px;

	left: -35px;
	height: auto;
	width: 70px;
	font-size: 25px;
	line-height: 25px;
	text-align: center;

	z-index: 1;
}

.yearBracket {
	position: absolute;
	top: -45px;
	left: 17px;
	height: auto;
	width: auto;
	background: orange;
	font-size: 250px;
	font-weight: lighter;
	font-family: 'Lato';
}

.curlyBrace{
	position: absolute;
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Safari */
	transform: rotate(90deg);
	display: none;
}

.month{
	position: absolute;
	top: -30px;
	left: -5px;
	left: -25px;
	height: auto;
	width: 50px;

	font-size: 18px;
	line-height: 20px;
	text-align: center;
	z-index: 1;
}

.dateMarker.big .month{
	top: -25px;
}

.bracket{
	position: absolute;

	left: 0px;
	left: 15px;
	left: 0px;
	width: 200px;

	display: inline-block;
	z-index: 0;

	background: #EAEAEA;
	background: lightgray;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bracket:hover{
	background: #4682B4 !important;
	cursor: pointer;
}


.bracket.up{
	border-left: 2px solid black;
	border-top: 2px solid black;
	border-right: 2px solid black;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

	border: none;
}

.bracket.down{
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

	border: none;

	top: 20px;
}

.bracket.short.up{
	height: 50px;
	top: -50px;
}

.bracket.medium.up{
	height: 100px;
	top: -100px;
}

.bracket.tall.up{
	height: 150px;
	top: -150px;
}

.bracket.short.down{
	height: 50px;
}

.bracket.medium.down{
	height: 100px;
}

.bracket.tall.down{
	height: 150px;
}


.bracket:nth-child(odd){
	background: #4CAF50;
}


/* Education */
/*
#bracket1, #bracket2 {
	background: #003399;
	background: rgb(4, 52, 177);
	background: rgb(0, 51, 160);
	background: #1349c;
	background: none;
	border: none;
	z-index: 0;

	background: #EAEAEA;
	background: lightgray;
	background: #4CAF50;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
}
*/

/* General Motors */
#bracket3, #bracket4, #bracket5{
	background: lightblue;
}

/* FIRST */
#bracket8{
	z-index: 2;
}

/*
#bracket4{
	background: #18453b;
	background: #008183;
	background: #4CAF50;
	background: gray;

	border: none;
	z-index: 0;

	border-top-left-radius: 50%;
	border-top-right-radius: 50%;

	background: lightblue;
}
*/

.month{
	display: none;
}




.event{
	position: absolute;
	left: 50%;
	margin-left: -10px;
	width: 20px;
	top: 0px;
	height: 20px;
	background: orange;
	border-radius: 50%;
}

#dpfc{

}

img{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	-webkit-transition: width 2s; /* Safari */
	transition: width .5s;


}

#dpfc img, #rossorama img{
	position: relative;
	width: 60%;
	width: 300px;
	height: auto;
	vertical-align: top;
}

#SharePoint{
	/*
	text-align: center;
*/
}

#SharePoint img{
	width: 25%;
	width: 200px;
	height: auto;
	vertical-align: middle;
	vertical-align: top;
}

#SharePoint img:hover{
	/*
	width: 300px;
	*/
	cursor: pointer;
}

#dpfc img:hover, #rossorama img:hover{
	/*
	width: 500px;
	*/
	cursor: pointer;
}




