html, body, header, footer, hgroup, nav, article, section, figure,
figcaption, h1, h2, h3, body, div, p, img {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
	box-sizing: border-box;
}

ul{
	margin-top: 0;
}

html{

	margin: 0 auto;
	box-sizing: border-box;
}


a{
	text-decoration: none;
	color: white;
}




body {
	background: white url("http://i.imgur.com/gs2hgiB.jpg");
	background: white;

	background-size: cover;
	background-position: right top;
	background-repeat: no-repeat;
	color: black;
	font-family: helvetica;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;


	min-width: 600px;
	min-width: 700px;

	max-width: 1950px;
	line-height: 25px;
	margin: 0 auto;
	box-sizing: border-box;

}

main{
	background-color: white;
}

h1{
	font-size: 22px;
}


article >ul{
	position: relative;
	left: 150px;
	top: -125px;
}


input {
	border: 0;
	padding: 10px;
	font-size: 18px;
	background: #EAEAEA;

}

input[type="submit"] {
	background: rgba(30,86,160,1);
	color: white;

}

img{
	width: auto;
	height: 100px;
	margin: 15px;
}

.fa{
	color: black;
	font-size: 35px;
	padding-left: 10px;
}

#connect a{
	padding-left: 10px;
}

.fa:first-child{
	padding-left: 0;
}

#connect a:first-child{
	padding-left: 0;
}


header .fa:hover{
	color: #4CAF50;
	cursor: pointer;
}

p{
	margin: 15px;
}

.menu{
	position: relative;
	top: 15px;
	left: 15px;
	width: 50px;
	height: 50px;
	font-size: 50px;
	color: white;

}

.fa-home{
	position: relative;
	top: 15px;
	left: 15px;
	width: 50px;
	height: 50px;
	font-size: 50px;
	color: white;
	padding: 0;
}

.leftArrow{
	position: absolute;
	top: 15px;
	left: 15px;
	width: 50px;
	height: 50px;
	font-size: 50px;
	display: none;
	color: white;
}


#scrollMenu{
	position: fixed;
	left: 0;
	width: 100%;
	height: 100%;
	top: 0;
	background: rgba(25,67,102, 1);
	z-index: 3;
	display: none;
}

#scrollMenuNav{
	position: absolute;
	top: 100px;
	left: 50%;
	width: 500px;
	height: 50px;
	margin-left: -250px;


	border-radius: 5px;
	list-style: none !important;

}


#scrollMenuNav ul{
	margin: 0;
	padding: 0;
}

#scrollMenuNav li{
	list-style: none;
	text-align: center;
	background: #4CAF50;
	font-size: 30px;
	margin-top: 50px;
	line-height: 50px;
}

#scrollMenuNav a:hover {
	color: black !important;
	background: white;
	cursor: pointer;
}




header{
	position: relative;
	height: auto;

	top: 0;

	left: 0;



}

.fa-bars{
	top: 15px;
	left: 15px;
	height: 50px;
	position: relative;
	color: white;
	width: 50px;
	font-size: 50px;
	text-align: center;
	display: none;
}


#profile{
	position: relative;
	top: 80px;

	background: white url("pictures/detroit.jpg");
	background-size: cover;
	background-position: center;
	background-position: center -60px;
	left: 0;
	right: 0;
	height: 400px;
	background-repeat: no-repeat;
	z-index: -1;
}

#profileInfo{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 25%;
	width: 350px;
	width: 335px;



	background: rgba(76,175,80,.65);
	background: rgba(0,0,128,.50);

	/* #194366 */
	background: rgba(25,67,102, .65);
	text-align: center;
}

#profilePic{
	position: absolute;
	left: 50%;
	margin-left: -75px;

	bottom: 50%;

	border-radius: 50%;
	border: 3px solid white;
	width: 150px;
	height: 150px;
	z-index: 2;

}



#profileInfo .text{
	position: absolute;
	top: 50%;
	left: 15px;
	right: 15px;
	color: white;
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	line-height: 30px;
	background: #4CAF50;
	border-radius: 5px;
}



@media screen and (min-width: 700px) {
	#profile{

		background-position: center -100px;
	}


}

@media screen and (min-width: 815px) {
	#profile{

		background-position: center -125px;
	}
}


@media screen and (min-width: 850px) {
	#profile{
		background-position: center -150px;
	}
}

@media screen and (min-width: 900px) {
	#profile{
		height: 400px;
		background-position: center -170px;
	}


}

@media screen and (min-width: 1000px) {
	#profile{
		background-position: center -200px;
	}
}

@media screen and (min-width: 1050px) {
	#profile{
		height: 450px;
	}
}



@media screen and (min-width: 1150px) {
	#profile{
		height: 500px;
		height: 475px;
	}

	#profilePic{
		position: absolute;
		left: 50%;
		margin-left: -100px;

		bottom: 50%;

		border-radius: 50%;
		border: 3px solid white;
		width: 200px;
		height: 200px;
		z-index: 2;

	}
}

@media screen and (min-width: 1200px) {
	#profile{
		height: 500px;
	}
}


@media screen and (min-width: 1265px) {
	#profile{
		background-position: center -250px;
	}
}


@media screen and (min-width: 1350px) {
	#profile{
		height: 625px;
		height: 550px;
	}
}

@media screen and (min-width: 1480px) {
	#profile{
		background-position: center -300px;
	}
}

@media screen and (min-width: 1570px) {
	#profile{
		height: 600px;
	}
}

@media screen and (min-width: 1650px) {
	#profile{
		background-position: center -325px;
	}
}

@media screen and (min-width: 1700px) {
	#profile{
		background-position: center -350px;
	}
}

@media screen and (min-width: 1750px) {
	#profile{
		height: 625px;
	}
}

@media screen and (min-width: 1800px) {
	#profile{
		height: 650px;
	}
}

@media screen and (min-width: 1900px) {
	#profile{
		height: 700px;
	}
}



#connect{
	position: absolute;
	right: 15px;
	top: 15px;
	height: 50px;
	width: auto;
	padding-right: 20px;
	padding-left: 20px;
	background: white;
	line-height: 60px;


	border-radius: 5px;
}

@media screen and (max-width: 700px) {
	#connect{
		display: none;
	}
}

#menuBar{
	position: fixed;
	height: 80px;
	width: 100%;
	left: 0;
	top: 0;

	background: #EAEAEA;
	background: transparent;
	z-index: 3;
	background: black;
}

#menuBar.slide{
	background: none;
}

#menuBarNav{
	position: absolute;
	left: 350px;
	width: auto;
	line-height: 40px;
	display: none;
	top: 50%;
	margin-top: -5px;

}

#menuBarNav a{
	padding-left: 15px;
}

#menuBarNav a:first-child{
	padding-left: 0px;
}

#menuBarNav a:hover{
	color: #4CAF50;
}

@media screen and (max-width: 840px) {
	#menuBarNav{
		display: none !important;
	}



}


#menuBar h1{

	font-family: 'Ubuntu', sans-serif;
	color: white;
	position: absolute;
	left: 75px;
	left: 15px;
	top: 50%;
	width: auto;
	width: 320px;
	width: 310px;
	font-size: 50px;
	font-weight: 300;
	line-height: 50px;
	margin-top: -25px;
}

#menuBar h1.shift{

	font-family: 'Ubuntu', sans-serif;
	color: white;
	position: absolute;
	left: 75px;
	left: 15px;
	left: 70px;
	top: 50%;
	width: auto;
	width: 320px;
	width: 310px;
	font-size: 50px;
	font-weight: 300;
	line-height: 50px;
	margin-top: -25px;
}

#menuBar h1.slide:hover{
	color: white;
	cursor: default;
}

#menuBar h1:hover{
	color: #4CAF50;
	cursor: pointer;
}

header img{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	-webkit-transition: width 2s; /* Safari */
	transition: width .5s;


}

header .text{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	-webkit-transition: width 2s; /* Safari */
	transition: width .5s;


}

.fa-home{
	display: none;
}

.black{
	background: black !important;
}

#extra{
	display: none;
}

.escape{
	display: none;
}



#name{
	position: absolute;
	left: 50%;
	margin-left: 15px;
	line-height: 500px;
	color: white;
	font-size: 40px;
}





article{
	padding: 15%;
	padding-top: 100px;
	padding-bottom: 100px;
	padding-bottom: 0;
}


article:first-child{
	padding: 15%;
	padding-top: 100px;
	padding-bottom: 100px;
}

article:nth-child(odd){
	background: #EAEAEA;
}

.fa-desktop{
	margin-top: 15px;
	width: 100px;
	height: 100px;
	font-size: 100px;
}

nav{
	position: relative;
	background: #4682B4;
	background: black;

	height: 50px;
	text-align: center;

}

nav>ul{
	margin: 0;
	padding: 0;
}

nav li{
	display: inline-block;

	line-height: 50px;
	text-align: center;
	width: 20%;
	list-style: none;
	color: white;

}

.line{
	position: relative;
	left: 101%;
	top: -35px;
	height: 20px;
	width: 1px;
	background: white;
}


nav li:first-child{


}

nav li:hover{
	background: white;
	cursor: pointer;
	color: black;
}

nav li:hover a{
	cursor: pointer;
	color: black;
}


#news{
	position: relative;
	background: #EAEAEA;

	text-align: center;
}


div.card {
	width: 27%;




	text-align: center;
	display: inline-block;
	margin: 15px;
	background: white;
	border-radius: 5px;
	/*
	margin-bottom: 50px;
	*/
}

div.header {
	background-color: #4CAF50;
	color: white;
	padding: 10px;
	font-size: 40px;
	border-top-left-radius:5px;

	border-top-right-radius:5px;
}

div.container {
	padding: 10px;
}

div.card:hover{
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.fa-angle-down{
	position: absolute;
	bottom: 5px;
	left: 50%;
	width: 50px;
	height: 50px;
	margin-left: -25px;
	font-size: 50px;
	padding: 0;
	border-radius: 50%;
	display: none;
}

.fa-angle-down:hover{
	background: #4CAF50;
	cursor: pointer;
	color: white;
}


footer{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 275px;
	background: black;

	list-style: none;
	color: white;
	text-align: center;
	line-height: 45px;
}

footer ul, footer li{
	margin: 0;
	padding: 0;
}


/* Each Separate List */
footer > ul{
	margin: 15px;
	margin-top: 20px;
	vertical-align: top;
	display: inline-block;
	border-right: 1px solid white;
	padding-right: 30px;

}

footer .fa{
	color: white;
}

footer >ul .fa:hover{
	color: #4CAF50;
}

footer >ul a:hover{
	color: #4CAF50;
}

footer > ul:last-child{
	border: none;
	padding: none;
}

.contactInfoFooter>ul li:hover{
	color: white;
	cursor: default;
}

/* Each List Title */
footer > ul  > li{
	margin-top: 0;
}

/* Each sub list */
footer > ul  > ul{
	margin-top: 15px;
}

footer > ul  > ul > li:hover{

	cursor: pointer;
	color: #4CAF50;
}

footer li{

	list-style: none;

}

.fa-copyright{

	font-size: 15px;
	padding: 0;
}

#copyright{
	position: absolute;
	left: 50%;
	width: 400px;
	margin-left: -200px;
	bottom: 5px;
	padding: 0;
	text-align: center;

}


